/* FOR FULL BODY TAGS */

html {
    scroll-behavior: smooth;
}

.bars {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fcfcfc;
}

/*  FOR HEADER OR NAV BAR */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.532);
    color: white;
    z-index: 1;
    position: relative;
}

/* Heading H1 In Header */

header h1 {
    -webkit-background-clip: text;
    color: transparent;
    background-image: url(orsrc17338.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
}

/* LINKS A  */
nav {
    display: block;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.fab {
    margin-left: 10px;
    font-size: 18px;
}

.fas {
    margin-left: 10px;
    font-size: 18px;
}

/* BACKGROUND IMAGE SETTING */

.bg-background {
    height: 600px;
    background-image: url(KIRTAN\ KAUSHIK.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -82px;
}

/* IMAGE TAG KI SETTINGS  */

.image img {
    width: 400px;
}

/* ALL H2 HEADINGS KI SETTING */

.center {
    text-align: center;
    font-size: 35px;
    color: rgb(74, 74, 74);
    text-decoration: underline;
    margin-top: 90px;
}

/* CENTER CLASS KE ICONS */
.center i {
    font-size: 30px;
}

/* MAIN KE FIRST SECTION TAG KI SETTINGS  */

.first {
    margin: 20px;
    padding: 10px;
}

.first .left-side {
    display: flex;
    justify-content: space-between;
}

.first .left-side div:nth-child(1) {
    box-shadow: 2px 2px 5px gray;
    flex: 1;
    background-color: white;
    margin: 20px;
    /* border-radius: 20px; */
    overflow: hidden;
}

/* IN FIRST DIVS ICONS */

.icons {
    box-shadow: none !important;
    border-bottom: 2px solid gray;
    border-radius: 0 !important;
    display: flex;
    justify-content: space-between;
}

/* ICON HEART SELECTION AND HOVER */

.icons i:nth-child(1) {
    color: red;
    font-size: 26px;
    margin-bottom: 10px;
    transition: 0.5s ease;
}

.icons i:nth-child(1):hover {
    scale: 1.2;
    cursor: pointer;
}

/* ICON LIKE SELECTION AND HOVER */

.icons i:nth-child(2) {
    color: rgb(61, 61, 61);
    font-size: 26px;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.icons i:nth-child(2):hover {
    scale: 1.1;
    cursor: pointer;
    transform: rotate(-15deg);
}

/* ICON MESSAGE SELECTION AND HOVER */

.icons i:nth-child(3) {
    color: blue;
    font-size: 26px;
    margin-bottom: 10px;
}

.icons i:nth-child(3):hover {
   cursor: pointer;
}


/* SELECTING H2 IN FIRST DIV */

.first .left-side div:nth-child(1) h2 {
    text-align: center;
    /* background-color: rgb(0, 166, 255); */
    background-image: linear-gradient(to bottom right , #ffffff, #dddddd);
    box-shadow: 0 2px 3px gray;
    color: black;
    margin: 0px;
    padding: 10px;
    font-size: 25px;
}

/* SELECTING PARAGRAPH IN FIRST DIV */

.first .left-side div:nth-child(1) p {
    margin: 20px;
    font-family: revert;
    color: rgb(61, 61, 61);
    text-align: justify;
}

#lastPera {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border-bottom: 2px solid gray; */
    margin: 0 20px;
}

/* SELECTING SECOND DIV */

.first .left-side div:nth-child(2) {
    box-shadow: 2px 2px 5px gray;
    flex: 1;
    background-color: white;
    margin: 20px;
    /* border-radius: 20px; */
    overflow: hidden;
}

/* SELECTING H2 IN SECOND DIV */

.first .left-side div:nth-child(2) h2 {
    text-align: center;
    /* background-color: rgb(0, 166, 255); */
    background-image: linear-gradient(to bottom right , #ffffff, #dddddd);
    box-shadow: 0 2px 3px gray;
    color: black;
    margin: 0px;
    padding: 10px;
    font-size: 25px;
}

/* SELECTING PARAGRAPH IN SECOND DIV */

.first .left-side div:nth-child(2) ol {
    margin: 20px;
    font-family: revert;
    color: rgb(61, 61, 61);
    text-align: justify;
    padding: 0 20px;
}


/* THIS IS SECTION ProDim */

.ProDim p{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border-bottom: 2px solid gray; */
    margin: 0 20px;
}

/* THIS IS ANOTHER SECTION FOR spiritual */
.spiritual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(236, 236, 236) , rgb(225, 225, 225));
}

.spiritual .left{
   flex: 1;
}

.spiritual .left img{
    width: 250px;
}

.spiritual .left img:nth-child(1){
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.spiritual .left img:nth-child(2){
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.spiritual .left img:nth-child(4){
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.spiritual .left img:nth-child(5){
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.spiritual .right {
    flex: 1;
    color: #464646;
}

.spiritual .right h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spiritual .right p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.back-Image {
    background-image: url(Spiritual_Endeavors-removebg-preview.png);
    width: 600px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-Image img{
    box-shadow: 0px 0px 5px;
    width: 200px;
}

/* PROJECTS KA DESIGN IDHAR HAI  */

.projects {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}

.projects .ktpixels{
    width: 350px;
    box-shadow: 0px 0px 5px gray;
}

.projects .ktpixels h4{
    margin: 0;
    font-size: 20px;
    color: #464646;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
}

.projects .ktpixels img{
    width: 350px;
}

.projects .ktpixels p{
    margin: 0;
    font-size: 18px;
    color: #464646;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: center;
}

.projects .ktpixels .button {
    padding: 10px 20px;
    color: white;
    background-color: rgb(0, 119, 255);
    margin: 0;
    border: none;
    text-align: center;
    text-decoration: none;
}

.projects .ktpixels .button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


/* THIS IS FOR showcase SECTION DESIGN */

#showcase p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border-bottom: 2px solid gray; */
    margin: 0 20px;
}

/* FOOTER KA DESIGN IDHAR HAI  */

footer {
    background-color: #dddddd;
    padding: 12px 20px;
}

form {
    flex: 1;
}

form h3 {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color:#464646;
}

form p label{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color:#464646;
}

form p input{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color:#464646;
}

form p input:focus{
    outline: none;
}

form p button{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color:white;
    background-color: rgb(0, 110, 255);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#form{
    display: flex;
}

.information {
    flex : 1;
}

.information h3{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color:#464646;
}

.information p{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color:#464646;
}


.copyright {
    text-align: center;
    color: #333;
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin: 0;
}

/* 1200 SCREEN RESPONSIVE */

@media only screen and (max-width: 1200px){
    .spiritual .left img:nth-child(1) {
        margin-left: 16px;
    }
    .spiritual .left img:nth-child(4) {
        margin-left: 16px;
    }

    .spiritual .left img {
        width: 200px;
    }

}

/* 1080 SCREEN RESPONSIVE */

@media only screen and (max-width: 1080px){
    .projects .ktpixels {
        width: 300px;
    }
    .projects .ktpixels img {
        width: 300px;
    }
    .bg-background {
        height: 400px;
        background-position: top;
    }
    .spiritual .left{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0px;
    }
    nav {
        display: block;
    }

    .projects .ktpixels {
        width: 450px;
        margin-top: 20px;
    }
    .projects .ktpixels img {
        width: 450px;
    }
}

/* MOBILE RESPONSIVE DESING STARTING FROM HERE */

@media only screen and (max-width: 600px){
    .bars {
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
    }
    #bar1, #bar2, #bar3{
        width: 35px;
        height: 3px;
        background-color: white;
        border-radius: 10px;
        margin-top: 10px;
    }

    header {
        display: block;
        background-color: rgb(0, 0, 0);
    }

    header h1 {
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 10px 0 15px 0px;
        margin: 0 0px 0px 98px;
    }

    .fas {
        font-size: 16px;
        /* display: none; */
    }

    .fab {
        font-size: 16px;
        /* display: none; */
    }

    nav{
        display: none;
        position: absolute;
        background-color: #333;
        padding: 20px;
        margin: -10px;
        transition: transform 0.5s ease;
    }

    nav a {
        font-size: 16px;
        display: block;
        padding: 10px;
    }

    .first {
        padding: 10px;
        margin: 0;
    }
    
    
    .bg-background {
        height: 200px;
        margin-top: 0;
    }
    
    .center {
        margin-top: 30px;
        font-size: 20px;
    }

    .center i {
        font-size: 20px;
    }

    .first .left-side {
        display: block;
    }

    .first .left-side div:nth-child(2) h2 {
        font-size: 20px;
    }

    .spiritual .left {
        display: none;
    }

    .spiritual  {
        margin: 10px;
    }

    .projects {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .ProDim p {
        font-size: 18px;
        padding: 10px;
        margin: 0 10px;
    }

    #lastPera {
        font-size: 18px;
    padding: 10px;
    margin: 0 10px;
    }

    #form {
        display: block;
    }

    .spiritual .right h2 {
        font-size: 22px;
    }

    .projects .ktpixels {
        width: 312px;
        margin: 20px;
    }

    .projects .ktpixels img {
        width: 312px;
    }

    #showcase p {
        font-size: 12px;
        padding: 10px;
        margin: 0 10px;
    }

    .copyright {
        font-size: 16px;
    }

    .information h3 {
        font-size: 22px;
        color: #333;
    }

    form h3 {
        font-size: 18px;
    }

    form p label {
        font-size: 18px;
    }
}

