*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    margin: 10px;
    background-color: #212224;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #ddb262;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

a{
    color: white;
    text-decoration: none;
}

/* 

font-family: 'Anek Devanagari', sans-serif;
font-family: 'Anek Tamil', sans-serif;
font-family: 'Bruno Ace', sans-serif;
font-family: 'Fasthand', cursive;
font-family: 'Noto Rashi Hebrew', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Sevillana', cursive; 

*/

/* 

COLORS

hr color = #EFE9DB

*/

/* NAVBAR CONTAINER */

.hamburger{
    position: absolute;
    left: 20px;
    top: 20px;
    display: none;
}

.bars{
    width: 25px;
    height: 3px;
    background-color: white;
    margin-block-end: 5px;
}

.navbar-container{
    display: flex;
    gap: 30px;
    align-items: end;
    padding: 20px;
    justify-content: space-between;
}

.heading{
    color: white;
    text-transform: uppercase;
    font-family: 'Bruno Ace', sans-serif;
    font-weight: 400;
    /* letter-spacing: 2px; */
}

.navbar-links-container{
    display: flex;
    gap: 30px;
}

.navbar-links-container .nav-links{
    color: white;
    font-family: 'Noto Sans Tangsa', sans-serif;
    transition: .3s ease;
    cursor: pointer;
}

.navbar-links-container .nav-links:hover{
    color: #ddb262;
}

.navbar-links-container .nav-links .links{
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-links-container .nav-links .links a{
    transition: .3s ease;
}

.navbar-links-container .nav-links .links a:hover{
    color: #ddb262;
}

hr{
    background-color: #EFE9DB;
    height: 2px;
    border: none;
    margin: 0 10px;
    margin-block-end: 30px;
}

.home-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-section .myself{
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.home-section .myself p{
    font-family: 'Anek Devanagari', sans-serif;
}

.home-section .myself p strong{
    font-size: 45px;
    text-transform: uppercase;
    color: #ddb262;
    font-family: 'Sevillana', cursive; 
    letter-spacing: 2px;
}

.home-section .btn{
    margin-block-start: 30px;
}

.home-section .btn .btn-link{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #ddb262;
    border-radius: 20px;
    padding: 10px 20px;
    transition: .2s linear;
    font-family: 'Roboto', sans-serif;

}

.home-section .btn .btn-link:hover {
    color: white;
    background-color: #ddb262;
}

/* ABOUT SECTION */

.heading-slots{
    display: flex;
    align-items: baseline;
}

.about-heading{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-inline-start: 30px;
    transition: .3s ease;
    margin-inline-end: 20px;
}

.rotating{
    width: 8px;
    height: 8px;
    border: 1px solid #ddb262;
    animation: rotate360 14s linear infinite;
    margin-inline-end: 8px;
}

@keyframes rotate360 {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }
}

.about-me{
    display: flex;
    margin-block-start: 80px;
    margin-block-end: 80px;
}

.frames {
    display: flex;
    justify-content: space-between;
}

.frames .frame-img:nth-child(1){
    position: absolute;
    left: 0;
    width: 300px;
}

.frames .frame-img:nth-child(2){
    position: absolute;
    right: 0;
    width: 300px;
}

.about-text{
    color: white;
    font-size: 24px;
    margin: 80px;
    margin-block-end: 140px;
    font-family: 'Anek Tamil', sans-serif;
}

/* SERVICES SECTION */

.service-section{
    margin-block-start: 80px;
    margin-block-end: 80px;
}

.serv-heading{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-inline-start: 30px;
    transition: .3s ease;
    margin-inline-end: 20px;
}

.service-cards{
    display: flex;
    margin: 10px 20px;
    justify-content: space-between;
}

.cards{
    width: 250px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .4s ease;
}

.cards:hover{
    box-shadow: 0 0 10px rgb(23, 23, 23);
    cursor: pointer;
    background-color: #2e2e2e;
}

.cards .cards-image{
    width: 200px;
    transition: .2s ease-in;
}

.cards .cards-image:hover{
    cursor: pointer;
    transform: scale(1.04);
}

.cards .cards-heading{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 22px;
}

.cards .cards-text{
    color: rgb(151, 151, 151);
    text-transform: capitalize;
    font-family: 'Noto Rashi Hebrew', serif;
    margin: 10px;
}

/* SKILLS SECTION START FROM HERE */

.skills-section{
    margin-block-start: 80px;
    margin-block-end: 80px;
}

.heading-skills{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-inline-start: 30px;
    transition: .3s ease;
    margin-inline-end: 20px;
}

.skills .skills-text{
    color: rgb(218, 218, 218);
    margin: 0 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.techno{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    margin-block-start: 40px;
    transition: .3s ease;
    margin-inline-end: 20px;
    text-align: center;
}

.techno-cards{
    display: flex;
    margin: 10px 20px;
    justify-content: space-between;
}

.cards-tech{
    width: 250px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .4s ease;
    box-shadow: 0 0 10px rgb(23, 23, 23);
    cursor: pointer;
    background-color: #2e2e2e;
}


.cards-tech .cards-heading{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 22px;
    margin-block-start: 20px;
}

.cards-tech .cards-text{
    color: rgb(151, 151, 151);
    text-transform: capitalize;
    font-family: 'Noto Rashi Hebrew', serif;
    margin: 10px;
}

.why-me-heading{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-inline-start: 30px;
    transition: .3s ease;
    margin-inline-end: 20px;
    margin-block-start: 40px;
}

.whyme-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.whyme-image img{
    width: 350px;
    margin-inline-start: 40px;
}

.whyme-image .my-lists .lists{
    list-style: circle;
    color: white;
    font-family: 'Anek Tamil', sans-serif;;
}

.whyme-image .my-lists{
    display: flex;
    justify-content: space-around;
    flex-direction: column
}

.my-lists .lists .list-heading{
    color: #ddb262;
}

/* PROJECTS STYLE START HERE */

.project-section{
    margin-block-start: 80px;
    margin-block-end: 80px;
}

.heading-projects{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-inline-start: 30px;
    transition: .3s ease;
    margin-inline-end: 20px;
}

.projects-cards{
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
    gap: 50px;
}

.projects-cards .cards{
    width: 350px;
    height: 450px;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .4s ease;
    box-shadow: 0 0 10px rgb(23, 23, 23);
    cursor: pointer;
    background-color: #252525;
    justify-content: space-between;
}

.projects-cards .cards:hover{
    background-color: #252525;
    /* box-shadow: none; */
}

.projects-cards .cards .cards-text-heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.projects-cards .cards-heading{
    color: #ddb262;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 22px;
    margin-block-start: 20px;
}

.projects-cards .cards-text{
    color: rgb(209, 209, 209);
    text-transform: capitalize;
    font-family: 'Noto Rashi Hebrew', serif;
    margin: 10px;
}

.projects-cards .card-image{
    width: 100%;
    height: 50%;
    filter: brightness(50%);
}

.projects-cards .cards-btn{
    margin-block-start: 10px;
    margin-block-end: 30px;
}

.projects-cards .cards-btn .link{
    background-color: transparent;
    color: white;
    border: 2px solid #ddb262;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.3s ease-out;
    font-family: 'Anek Tamil', sans-serif;
    text-decoration: none;
}

.projects-cards .cards-btn .link:hover{
    background-color: #ddb262;
    color: white;
}

.project-section .product-text{
    color: rgb(218, 218, 218);
    margin: 20px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.saperator {
    display: flex;
}



/* FOOTER START HERE */

.footer .topbtn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: .6s ease;
    cursor: pointer;
}

.footer .topbtn::before{
    content: "";
    position: absolute;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    animation: rotate360 15s linear infinite;
}

.footer .topbtn .top-btn{
    width: 100%;
    height: 100%;
    background-color: #ddb262;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .topbtn .top-btn a{
    color: white;
    text-decoration: none;
}

.footer-links-container{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.footer-links-container .footer-links{
    color: white;
    font-family: 'Noto Sans Tangsa', sans-serif;
    transition: .3s ease;
    cursor: pointer;
}

.footer-links-container .footer-links:hover{
    color: #ddb262;
}

.footer-links-container .footer-links .footer-headings{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin-block-end: 20px;
}

.footer-links-container .footer-links .links{
    list-style: none;
    text-transform: capitalize;
    letter-spacing: 0px;
    text-align: start;
    margin-block-end: 10px;
    border-bottom: 1px solid rgb(114, 114, 114);
}

.footer-links-container .footer-links .links a{
    transition: .3s ease;
}

.footer-links-container .footer-links .links a:hover{
    color: #ddb262;
}

.footer-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.273);
    padding: 20px;
    backdrop-filter: blur(10px);
    top: 85px;
    right: 20px;
    transition: .6s ease;
    transform: scale(0);
}

.form .inputs{
    margin-block-end: 5px;
}

.input-fields{
    background-color: #1d1d1d;
    color: white;
    padding: 5px 10px;
    height: 56px;
    width: 100%;
    border: 1px solid #2e2e2e;
    outline: none;
    transition: border-color .5s ease;
  }
  
  .input-fields::placeholder{
    color: inherit;
  }
  
  .input-fields:focus{
    border-color: #ddb262;
  }

  textarea.input-fields {
    resize: none;
    padding-block: 20px;
    height: 140px;
}

.submitbtn{
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid #ddb262;
    font-size: 18px;
    font-family: 'Bruno Ace', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: .6s ease;
}

.submitbtn:hover{
    background-color: #ddb262;
}

.footer-form .form .icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-form .form .icon span{
    color: rgb(28, 28, 28);
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    padding: 8px 5px;
    margin-block-end: 10px;
    border-radius: 10px;
    border: 2px solid #ddb262;
    transition: .4s ease;
}

.footer-form .form .icon span:hover{
    background-color: #ddb262;
}

.cross{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.cross:nth-child(1){
    transform: rotate(45deg) translateY(4px) translateX(2px);
}

.cross:nth-child(2){
    transform: rotate(-45deg) translateY(-3px) translateX(1px);
}

.copyright{
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text .text{
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Anek Devanagari', sans-serif;
}

.contact-icons-link{
    display: none;
}


@media only screen and (max-width: 936px){
    .hamburger{
        display: block;
        z-index: 99;
    }

    .navbar-container{
        display: block;
        position: absolute;
        background-color: #1d1d1d;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-310px);
        transition: .3s ease;
        z-index: 2;
    }

    .navbar-links-container {
        display: block;
    }

    .navbar-links-container .nav-links .links {
        padding: 10px 0;
    }

    .heading {
        margin-block-start: 40px;
        margin-block-end: 30px;
    }

    .portfoilio-images .image{
        width: 350px;
    }

    .home-section .myself {
        font-size: 30px;
    }
    .home-section .myself p strong {
        font-size: 35px;
    }

    .about-heading{
        font-size: 40px;
    }

    .frames .frame-img:nth-child(1) {
        width: 200px;
        margin: 20px;
    }

    .frames .frame-img:nth-child(2) {
        display: none;
    }

    .about-text{
        font-size: 20px;
    }

    .about-text{
        margin-block-end: 0;
    }

    .serv-heading{
        font-size: 40px;
    }

    .service-cards {
        flex-wrap: wrap;
    }

    .cards {
        width: 350px;
    }

    .service-section {
        margin-block-end: 0px;
    }
    
    .heading-skills{
        font-size: 40px;
    }

    .skills .skills-text {
        font-size: 18px;
    }

    .why-me-heading {
        font-size: 40px;
    }

    .heading-projects{
        font-size: 40px;
    }

    .project-section .product-text{
        font-size: 18px;
    }

    .footer-form{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
    }

    .contact-icons-link{
        display: flex;
        background-color: #00000059;
        color: white;
        backdrop-filter: blur(10px);
        padding: 10px;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 840px){
    .cards {
        width: 300px;
    }

    .cards-tech {
        width: 210px;
        height: 180px;
    }

    .projects-cards {
        justify-content: space-around;
    }

    .projects-cards .cards {
        width: 310px;
        height: 410px;
    }

    .projects-cards .cards-btn .link {
        padding: 5px 36px;
    }
}

@media only screen and (max-width: 780px){

    .techno-cards {
        flex-direction: column;
    }

    .cards-tech {
        width: auto;
        height: auto;
        margin-block-end: 30px;
    }

    .whyme-image img {
        width: 300px;
        margin-inline-start: 0px;
    }

    .projects-cards .cards {
        width: auto;
        height: auto;
    }

}

@media only screen and (max-width: 680px){
    .home-section .myself {
        font-size: 22px;
    }

    .home-section .btn .btn-link {
        font-size: 12px;
        padding: 6px 12px;
    }

    .about-text {
        text-align: justify;
    }

    .cards {
        width: 200px;
        height: auto;
    }

    .cards .cards-image {
        width: 100px;
    }

    .cards .cards-heading {
        font-size: 16px;
    }

    .cards .cards-text {
        font-size: 12px;
    }

    .service-cards {
        flex-wrap: nowrap;
        gap: 10px;
    }

    .project-section .product-text {
        font-size: 16px;
    }

    .footer-links-container .footer-links .footer-headings {
        font-size: 24px;
    }

    .footer-links-container .footer-links .links {
        font-size: 12px;
        letter-spacing: 0px;
        text-align: start;
    }
}

@media only screen and (max-width: 620px){
    .portfoilio-images .image {
        width: 300px;
    }

    .about-heading {
        font-size: 32px;
    }

    .about-text {
        font-size: 16px;
        margin: 74px;
    }

    .frames .frame-img:nth-child(2) {
        display: none;
        bottom: -22rem;
        width: 200px;
        margin: 20px;
    }

    .serv-heading {
        font-size: 32px;
    }

    .service-cards {
        flex-wrap: wrap;
        gap: 20px;
    }

    .heading-skills {
        font-size: 32px;
    }

    .skills .skills-text {
        font-size: 15px;
        text-align: justify;
        margin: 0 30px;
    }

    .why-me-heading {
        font-size: 32px;
    }

    .my-lists .lists .lists-text{
        font-size: 12px;
    }

    .heading-projects {
        font-size: 32px;
    }
}


@media only screen and (max-width: 546px){
    .portfoilio-images .image {
        width: 250px;
    }

    .home-section .myself p strong {
        font-size: 26px;
    }

    .whyme-image img {
        width: 250px;
    }

    .serv-heading {
        font-size: 30px;
    }
}

@media only screen and (max-width: 506px){
    .portfoilio-images .image {
        width: 220px;
    }

    .home-section .myself {
        font-size: 18px;
    }

    .home-section .myself p strong {
        font-size: 24px;
    }

    .about-me {
        margin-block-start: 50px;
        margin-block-end: 0;
    }

    .frames .frame-img:nth-child(2) {
        bottom: -19rem;
    }

    .service-section {
        margin-block-start: 50px;
    }

    .serv-heading {
        font-size: 22px;
    }

    .heading-skills {
        font-size: 24px;
    }

    .skills-section {
        margin-block-start: 50px;
        margin-block-end: 30px;
    }

    .techno {
        font-size: 20px;
        margin-inline-end: 0;
    }

    .cards-tech .cards-heading {
        font-size: 18px;
        margin-block-start: 10px;
    }

    .cards-tech .cards-text {
        font-size: 14px;
    }

    .why-me-heading {
        font-size: 24px;
    }

    .my-lists .lists .list-heading {
        font-size: 16px;
    }

    .heading-projects {
        font-size: 26px;
    }

    .project-section {
        margin-block-start: 50px;
        margin-block-end: 30px;
    }
}


@media only screen and (max-width: 480px){
    .cards {
        width: auto;
    }

    .frames .frame-img:nth-child(2) {
        bottom: -21rem;
    }

    .home-section .btn {
        margin-block-start: 10px;
    }

    .footer-links-container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 420px){
    .frames .frame-img:nth-child(2) {
        bottom: -23rem;
    }

    .serv-heading {
        font-size: 18px;
    }

    .skills .skills-text {
        font-size: 12px;
    }

    .whyme-image img {
        width: 200px;
    }

    .my-lists .lists .list-heading {
        font-size: 14px;
    }

    .my-lists .lists .lists-text {
        font-size: 10px;
    }

    .project-section .product-text {
        font-size: 12px;
    }

    .about-text {
        font-size: 14px;
        margin-block-end: 70px;
    }

    .frames .frame-img:nth-child(2) {
        bottom: -19rem;
    }
}

@media only screen and (max-width: 398px){
    .portfoilio-images .image {
        width: 180px;
    }

    .home-section .myself {
        font-size: 16px;
    }

    .home-section .myself p strong {
        font-size: 20px;
    }

    .about-me {
        margin-block-start: 32px;
    }

    .about-heading {
        font-size: 24px;
    }

    .frames .frame-img:nth-child(1) {
        width: 120px;
    }

    .frames .frame-img:nth-child(2) {
        width: 120px;
        bottom: -12rem;
    }

    .about-text {
        margin: 55px;
    }

    .whyme-image img {
        width: 180px;
    }
}

@media only screen and (max-width: 366px){
    .portfoilio-images .image {
        width: 160px;
    }

    .home-section .myself {
        font-size: 14px;
    }

    .about-text {
        margin: 52px;
        text-align: center;
    }

    .about-heading {
        font-size: 20px;
        margin-inline-start: 15px;
    }

    .saperator{
        display: flex;
        margin-inline-start: 15px;
    }

    .heading-slots {
        display: block;
    }

    .serv-heading {
        font-size: 20px;
        margin-inline-start: 15px;
    }

    .heading-skills {
        font-size: 20px;
        margin-inline-start: 15px;
    }

    .skills .skills-text {
        font-size: 12px;
        margin-block-start: 20px;
        text-align: center;
    }

    .whyme-image {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .why-me-heading {
        font-size: 32px;
        text-align: center;
    }

    .whyme-image .my-lists {
        margin: 20px;
        text-align: justify;
    }

    .heading-projects {
        font-size: 20px;
        margin-inline-start: 15px;
    }
}

@media only screen and (max-width: 324px){
    .portfoilio-images .image {
        width: 140px;
    }

    .home-section .myself {
        font-size: 12px;
    }

    .home-section .btn .btn-link {
        font-size: 10px;
        padding: 4px 8px;
    }

    .frames .frame-img:nth-child(1) {
        width: 100px;
    }

    .frames .frame-img:nth-child(2) {
        width: 100px;
        bottom: -9rem;
    }

    .about-text {
        margin: 44px;
        text-align: justify;
        font-size: 12px;
    }
}

@media only screen and (max-width: 292px){
    .home-section .myself p strong {
        font-size: 16px;
    }

    .portfoilio-images .image {
        width: 125px;
    }

    .frames .frame-img:nth-child(1) {
        width: 70px;
    }

    .about-text {
        margin: 38px;
        text-align: center;
        font-size: 12px;
    }

    .frames .frame-img:nth-child(2) {
        width: 70px;
        bottom: -7rem;
    }

    .heading-slots {
        text-align: center;
    }

    .saperator {
        display: flex;
        margin-inline-start: 15px;
        justify-content: center;
    }

    .why-me-heading {
        font-size: 20px;
    }

    .whyme-image img {
        width: 130px;
    }
}